.subject {
	font-family: 'Raleway';
	font-size: 28px;
	letter-spacing: 2px;
}

.course {
	font-family: 'Raleway';
	font-size: 18px;
}

.paperHeading,
.keyHeading h2 {
	font-family: 'Raleway';
	font-size: 17px;
}

.paperContent {
	font-family: 'Raleway';
	font-size: 22px;
}

.timerHeading {
	font-family: 'Raleway';
	font-size: 11px;
	letter-spacing: 1px;
}

.timerContent {
	font-family: 'Raleway';
	font-size: 18px;
	color: #0fc;
}

.conductedExamsHeading {
	font-family: 'Raleway';
	font-size: 20px;
}
