.navbarHeading {
	font-family: 'Raleway';
	font-size: 25px;
	letter-spacing: 1px;
}

.navbarItem {
	font-family: 'Raleway';
	font-size: 18px;
}

.activeTab {
	background-color: black;
	color: white;
	padding: 5px 15px;
	border-radius: 8px;
}
