.approvedCard {
	background: rgba(40, 121, 153, 1);
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
}

.pendingCard {
	background: rgba(250, 128, 15, 1);
	box-shadow: 0px 0px 9px 3px rgba(225, 122, 25, 1);
}

.declinedCard {
	background: rgba(61, 221, 23, 1);
	box-shadow: 0px 0px 9px 3px rgba(95, 195, 71, 1);
}

.textStyle {
	font-family: 'Raleway';
	font-size: 20px;
}

.iconHover:hover {
	opacity: 0.8;
}

.icon {
	font-size: 1.2rem;
}

.dropdown {
	width: 3rem !important;
}
