.countDownTimer {
	font-size: 34px;
	color: white;
	margin-right: 4px;
}

.outerContainer {
	display: flex;
	height: calc(100% -100px);
	margin-top: 20px;
	margin-left: 10px;
	overflow-y: scroll;
}

.questionContainer {
	width: 35.33%;
	margin-right: 15px;
}

.optionsContainer {
	width: 35.33%;
	margin-right: 15px;
}

.palleteContainer {
	width: 30%;
}

.description {
	padding: 1px;
	margin-top: 5px;
	margin-bottom: 8px;
}

.description pre {
	margin: 0 !important;
}

.questionImage {
	width: 20rem;
	height: 12rem;
}

.palletesContents {
	height: 68.5vh !important;
}

.attemptedPalletes,
.notVisitedPalletes,
.notAttemptedPalletes,
.attemptedReviewPalletes,
.notAttemptedReviewPalletes {
	border-radius: 6px;
	padding: 1px 0px;
	width: 40px;
	height: 40px;
	font-size: 16px;
}

.attemptedPalletes {
	background-color: green;
}

.notVisitedPalletes {
	background-color: grey;
}

.notAttemptedPalletes {
	background-color: red;
	color: white;
}

.attemptedReviewPalletes {
	background-color: yellow;
}

.notAttemptedReviewPalletes {
	background-color: orange;
}

.footer {
	position: sticky;
	left: 0;
	bottom: 0px;
	width: 100%;
	background-color: #007bff;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 8px 0px;
	padding-right: 8px;
}
