.questionCard {
	height: calc(100% - 114px) !important;
}

.question {
	font-family: 'Raleway';
	font-size: 20px;
}

.optionBackground {
	background-color: #f7f7f6;
}

.options {
	height: calc(100% - 130px) !important;
}

.palleteHeading {
	font-size: 18px;
	letter-spacing: 1px;
}

.attemptedPalletes,
.notVisitedPalletes,
.notAttemptedPalletes,
.attemptedReviewPalletes,
.notAttemptedReviewPalletes {
	border-radius: 8px;
	padding: 12px 0px;
	overflow: hidden;
}

.attemptedPalletes::after,
.notVisitedPalletes::after,
.notAttemptedPalletes::after,
.attemptedReviewPalletes::after,
.notAttemptedReviewPalletes::after {
	content: '';
	position: absolute;
	top: 0px;
	right: 15px;
	width: 10px;
	height: 10px;
	border-top-right-radius: 8px;
}

.attemptedPalletes::after {
	background-color: green;
}

.notVisitedPalletes::after {
	background-color: grey;
}

.notAttemptedPalletes::after {
	background-color: red;
}

.attemptedReviewPalletes::after {
	background-color: yellow;
}

.notAttemptedReviewPalletes::after {
	background-color: orange;
}

.palletesContents {
	height: calc(100% - 140px) !important;
	overflow-y: scroll;
}
