.heading {
	font-family: 'Raleway';
	font-size: 26px;
}

.iconSize {
	font-size: 1.4em !important;
}

.examHeading {
	font-size: 1.4rem;
}

.errorText {
	font-family: 'Raleway';
	font-size: 12px;
}

.editExamHeading {
	font-size: 18px;
}

.editExamContent {
	font-size: 14px;
}

.accordionHeading {
	font-family: 'Raleway';
	font-weight: bold;
}
