.questionCard {
	height: calc(100% - 114px) !important;
}

.question {
	font-family: 'Raleway';
	font-size: 20px;
}

.optionBackground {
	background-color: #f7f7f6;
}

.options {
	height: calc(100% - 130px) !important;
}

.palleteHeading {
	font-size: 18px;
	letter-spacing: 1px;
}

.pallete {
	border-radius: 8px;
	padding: 12px 0px;
	overflow: hidden;
}

.pallete::after {
	content: '';
	position: absolute;
	top: 0px;
	right: 15px;
	width: 10px;
	height: 10px;
	border-top-right-radius: 8px;
	background-color: #fb1a5a;
}

.palletesContents {
	height: calc(100% - 140px) !important;
	overflow-y: scroll;
}
