.stickySidebar {
	overflow-x: hidden;
	overflow-y: auto;
}

.examinerIcon {
	width: 35px;
	height: 35px;
}

.navIcon {
	width: 30px;
	height: 30px;
}

.icon {
	cursor: pointer;
	font-family: 'Raleway';
}

.bgOrange {
	background-color: #ff810c;
}

.iconHover:hover {
	opacity: 0.7;
	color: white;
}
