body {
	background-color: white;
}

.loginImage {
	max-width: 40vw;
}

.loginCard {
	margin: 40px 0px;
	height: calc(100% - 0px) !important;
}

.loginHeading,
.examinerInputHeading {
	font-family: 'Raleway';
}

.bgGrey {
	background-color: #f5f5f5;
}
