.signupBackground {
  background: linear-gradient(to right,#5733da,#5e3cda,#6545da,#6b4dda,#7155da,#5868e6,#3a78ef,#0187f4,#009ef9,#00b2f4,#00c3e9,#31d2de);
  height: 100%;
  width: 100%;
  flex: 1;
}

.heading {
  font-family: 'Raleway';
  font-size: 30px;
  text-align: center;
}

.signupCard {
  width: 30vw;
  padding: 10px 40px;
}

.subHeading {
  font-family: 'Raleway';
  font-size: 18px;
  text-align: center;
}

.submitButton {
  margin: 8px 0px;
}

.input {
  background: white;
}

.errorText {
  color: red;
}