.heading {
	font-family: 'Raleway';
	font-size: 36px;
}

.createCourseHeading {
	font-family: 'Raleway';
	font-size: 24px;
}

.selectWidth {
	width: 4rem;
}

.tableShadow {
	box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.75);
}
